<div
  {{did-insert this.OnLoad}}
  class="ath-viewport position-relative">

{{#if this.ShowDialog}}

    <div class="ath-container {{this.class_descriptor}}" style="-webkit-transition-property:-webkit-transform,opacity;-webkit-transition-duration:0s;-webkit-transition-timing-function:ease-out;transition-property:transform,opacity;transition-duration:0s;transition-timing-function:ease-out;">

    {{#if this.isIDevice}}
      <p>{{t "add_to_homescreen.ios" htmlSafe=true}}</p>
    {{else}}
      <p>{{t 'add_to_homescreen.android' htmlSafe=true}}</p>
    {{/if}}
    </div>

{{/if}}
</div>