<div class="timers_create position-relative">
  <h5>
    {{t 'create.title'}}
  </h5>
  <Timers::PresetMenu
    @presets={{@presets}}
    @setPreset={{this.Preset}}
    class="PresetMenu"
  />
  <div class="body">
    <div class="data">
      <div class="section">
        <label for="Timer_Name">
          {{t 'create.Timer_Name_Label'}}
        </label>
        <br />
        <Input
          class="form-control
            {{if this.New_Timer_Name_IsValid '' 'border-danger'}}"
          placeholder="timer name"
          id="Timer_Name"
          @value={{this.New_Timer_Name}}
          data-test-timer_name
          {{autofocus}}
        />
        {{#unless this.New_Timer_Name_IsValid}}
          <span class="text-danger">
            {{t 'create.Timer_Name_Validation_Message'}}
          </span>
        {{/unless}}
      </div>
      <div class="section">
        <label for="New_Timer_Is_Countdown">
          {{t 'create.Timer_Countdown_Label'}}
        </label>
        <br />
        <XToggle
          @value={{this.New_Timer_Is_Countdown}}
          @onToggle={{fn (mut this.New_Timer_Is_Countdown)}}
          data-test-is-countdown
          id="New_Timer_Is_Countdown"
        />
      </div>
      <AnimatedContainer class="create_timer_countdown">
  {{#animated-if this.New_Timer_Is_Countdown rules=this.rules}}
        <div class="section">
          <label for="Timer_Target_Runtime">
            {{t 'create.Timer_Target_Runtime'}}
          </label>
          <br />
          <Input
            class="form-control
              {{if
                this.New_Timer_Target_Runtime_In_Minutes_IsValid
                ''
                'border-danger'
              }}"
            @type="number"
            id="Timer_Target_Runtime"
            @value={{this.New_Timer_Target_Runtime_In_Minutes}}
            data-test-target-runtime
            min="1"
            max="1440"
          />
          {{#unless this.New_Timer_Target_Runtime_In_Minutes_IsValid}}
            <span class="text-danger">
              {{t "create.Timer_Target_Runtime_Validation_Message"}}
            </span>
          {{/unless}}
        </div>
        <div class="section">
          <label for="New_Timer_Play_Sound_When_Done">
            {{t "create.Timer_Play_Sound_When_Done_Label"}}
          </label>
          <br />
          <XToggle
            @value={{this.New_Timer_Play_Sound_When_Done}}
            @onToggle={{fn (mut this.New_Timer_Play_Sound_When_Done)}}
            data-test-play-sound-when-done
            id="New_Timer_Play_Sound_When_Done"
          />
        </div>
      {{/animated-if}}
 </AnimatedContainer>
    </div>
  </div>
  <div class="d-flex flex-row">
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      data-test-cancel-button
      {{on 'click' @cancel}}
    >
      <FaIcon @icon="ban" />
      {{t "create.Cancel_Button_Name"}}
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm ms-2"
      data-test-add-button
      {{on 'click' this.addTimer}}
    >
      <FaIcon @icon="plus" />
      {{t "create.Add_Button_Name"}}
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-sm  ms-auto"
      data-test-add-preset-button
      {{on 'click' this.addPreset}}
    >
      <FaIcon @icon="plus" />
      {{t 'create.Add_Preset_Name'}}
    </button>
  </div>
</div>