<div class="timers_create position-relative">
  <h5>Add timer</h5>
  <Timers::PresetMenu
    @presets={{@presets}}
    @setPreset={{this.Preset}}
    class="PresetMenu"
  />

  <div class="body">
      <div class="data">
        <div class="section">
          <label for="Timer_Name">Name</label><br />
          <Input
            class="form-control"
            placeholder="timer name"
            id="Timer_Name"
            @value={{this.New_Timer_Name}}
            data-test-timer_name
            {{autofocus}}
          />
        </div>
        <div class="section">
          <label for="New_Timer_Is_Countdown">Countdown</label><br />
          <XToggle
            @value={{this.New_Timer_Is_Countdown}}
            @onToggle={{fn (mut this.New_Timer_Is_Countdown)}}
            data-test-is-countdown
            id="New_Timer_Is_Countdown"
          />
        </div>
        {{#if this.New_Timer_Is_Countdown}}
          <div class="section">
            <label for="Timer_Target_Runtime">Time in minutes</label><br />
            <Input
              class="form-control"
              placeholder="Time in minutes"
              @type="number"
              id="Timer_Target_Runtime"
              @value={{this.New_Timer_Target_Runtime_In_Minutes}}
              data-test-targetruntime
            />
          </div>
          <div class="section">
            <label for="New_Timer_Play_Sound_When_Done">Play sound when done</label><br />

            <XToggle
              @value={{this.New_Timer_Play_Sound_When_Done}}
              @onToggle={{fn (mut this.New_Timer_Play_Sound_When_Done)}}
              data-test-play-sound-when-done
              id="New_Timer_Play_Sound_When_Done"
            />
          </div>
        {{/if}}
      </div>
  </div>
  <button
    type="button"
    class="btn btn-secondary btn-sm"
    data-test-cancel-button
    {{on 'click' @cancel}}
  >
    <FaIcon @icon="ban" />
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary btn-sm"
    data-test-add-button
    {{on 'click' this.addTimer}}
  >
    <FaIcon @icon="plus" />
    Add
  </button>
</div>