{{#if this.state.display_create_dialog}}

  <Timers::Create
    @cancel={{this.cancelCreateDialog}}
    @addTimer={{this.addTimer}}
    @presets={{this.Presets}}
  />

{{else}}

  <button
    type="button"
    class="btn btn-primary btn-md"
    {{on 'click' this.addButtonClicked}}
    data-test-add-button
  >
    <FaIcon @icon="plus" />
    Add timer
  </button>

{{/if}}
<br />
<div class="timers_liste">
  {{#each this.timers key='@index' as |timer|}}

    <Timers::Item
      @timer={{timer}}
      @close={{this.close}}
    />

  {{/each}}
</div>