{{#if this.state.display_create_dialog}}
  <Timers::Create
    @cancel={{this.cancelCreateDialog}}
    @addTimer={{this.addTimer}}
    @addPreset={{this.addPreset}}
    @presets={{this.Presets}}
  />
{{else}}
  <button
    type="button"
    class="btn btn-primary btn-md"
    data-test-add-button
    {{on 'click' this.addButtonClicked}}
  >
    <FaIcon @icon="plus" />
    {{t "list.Add_Timer_Button_Name"}}
  </button>
{{/if}}
<br />
<div class="timers_liste">
  {{#each this.timers key='@index' as |timer|}}
    <Timers::Item @timer={{timer}} @close={{this.close}} />
  {{/each}}
</div>