{{page-title (t "index_page.title")}}
{{#if this.Started}}
{{else}}
  <article class="intro mb-3">
    {{t "index_page.intro"}}<br>
  </article>
{{/if}}
<div class="bootstrapstyles" >
  <Timers::List @started={{this.started}}/>
</div>
{{outlet}}